:443 {
    reverse_proxy cache:80 {
        header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
    }

    tls /cert/ssl.crt /cert/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /cert/authenticated_origin_pull_ca.pem
        }
    }
}
