:443 {
    reverse_proxy cache:80

    tls /cert/ssl.crt /cert/ssl.key {
        client_auth {
            mode require_and_verify
            trusted_ca_cert_file /cert/authenticated_origin_pull_ca.pem
        }
    }
}
