[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
anyio = "*"
asyncio = "*"
dacite = "*"
fastapi = "*"
filelock = "*"
httpx = "*"
jinja2 = "*"
mapbox-vector-tile = "*"
motor = "*"
networkx = "*"
numba = "*"
numpy = "*"
orjson = "*"
psutil = "*"
pyproj = "*"
python-dateutil = "*"
scikit-learn = "*"
shapely = "*"
six = "*"
starlette = "*"
timezonefinder = "*"
tqdm = "*"
uvicorn = "*"
xmltodict = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
