[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
anyio = "*"
asyncache = "*"
authlib = "*"
brotlipy = "*"
cachetools = "*"
dacite = "*"
fastapi = "*"
feedgen = "*"
h2 = "*"
httpx = "*"
jinja2 = "*"
mapbox-vector-tile = "*"
motor = "*"
networkx = "*"
numba = "*"
numpy = "*"
orjson = "*"
pillow = "*"
psutil = "*"
pyinstrument = "*"
pyproj = "*"
python-dateutil = "*"
python-magic = "*"
python-multipart = "*"
scikit-learn = "*"
shapely = "*"
six = "*"
starlette = "*"
timezonefinder = "*"
tqdm = "*"
uvicorn = "*"
xmltodict = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
